<div class="menu-section">

    <h2>{{ header }}</h2>
    {% for menu in menues %}
    <div class="menu-items">
        <img src="{{ menu.image.url }}" alt="{{ menu.name }}">
        <div class="description">
            <h3>{{ menu.name }}</h3>
            <p>{{ menu.ingredients }}</p>
        </div>
        <div class="price">{{ menu.price }}</div>
        {% if menu.id in wishlist %}
        <form action="{% url 'remove_from_wishlist' pk=menu.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="wishlist-button remove">Remove from wishlist</button>
        </form>
        {% else %}
        <form action="{% url 'add_to_wishlist' pk=menu.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="wishlist-button">Add to wishlist</button>
        </form>
        {% endif %}
    </div>
    {%endfor%}
</div>