[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "*"
psycopg = "*"
psycopg2-binary = "*"
djangorestframework = "*"
django-allauth = "*"
requests = "*"
pyjwt = "*"
cryptography = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "*"
