<header>
    <div class="logo"><a href="{% url 'landing_page' %}" style="text-decoration: none;color: white;">QITCHEN</a></div>
    <nav>
        <ul class="nav-links">
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'menu_page' %}">Menu</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
            <li><a href="{% url 'reservation' %}">Reservation</a></li>
        </ul>
    </nav>
    <div class="menu-icon" onclick="toggleMenu()">&#9776;</div>
</header>
<div class="mobile-nav" id="mobile-nav">
    <ul>
        <li><a href="#">Contact</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Feedbacks</a></li>
    </ul>
</div>
<script>
    function toggleMenu() {
        var nav = document.getElementById("mobile-nav");
        if (nav.style.display === "block") {
            nav.style.display = "none";
        } else {
            nav.style.display = "block";
        }
    }
</script>